@{
    ViewBag.Title = "Generar Reporte de Reservas";
}

<h2>Generar Reporte de Reservas</h2>

@using (Html.BeginForm("GenerarReporteReservas", "Reservas", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Fecha Inicio")
        @Html.TextBox("fechaInicio", null, new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        @Html.Label("Fecha Fin")
        @Html.TextBox("fechaFin", null, new { @class = "form-control", type = "date" })
    </div>
    <button type="submit" class="btn btn-primary">Generar Reporte</button>
}

