@model WayraWasi.Models.Cabania

@{
    ViewBag.Title = "Detalles de Cabaña";
}

<h2>Detalles de Cabaña</h2>

<div>
    <h4>Cabaña</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCabania)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCabania)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioNoche)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioNoche)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.IdCabania })" class="btn btn-warning">Editar</a> |
    <a href="@Url.Action("Index")" class="btn btn-primary">Volver a la Lista</a>
</p>